body {
    height: 100vh;
}

#navbar {
    height: 60px;
}

#content {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1c1c27;
    height: calc(100% - 60px);
    margin-left: 20%;
    width: 80%;
}

#sidenav {
    margin-top: 60px;
    width: 20%;
    height: calc(100% - 60px);
    max-width: 20%;
}

#slide-out {
    margin-top: 60px;
    width: 20%;
    height: calc(100% - 60px);
    max-width: 20%;
}
#options {
    margin: auto;
    width: 85%;
}

#filters,
#tuning {
    margin-left: 15%;
    width: 85%;
    height: 100%;
}

.filter-preview {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#canvas {
    display: none;
    margin: auto;
    background: #ececec;
    height: 100%;
}

.btn-disabled {
    color: #fff !important;
}

.material-symbols-outlined {
    margin: 0;
    margin-left: 10px;
    color: white;
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}

#logo {
    height: 50px;
    margin-left: 50px;
}

.icons {
    margin: auto;
    margin-top: 21%;
}

#navbar-option-wrapper {
    margin-right: 35%;
}

.navbar-option {
    background-color: #50515a !important;
    border-radius: 5px;
}

#login-form, #image-helper {
    width: 90%;
    margin: auto;
    height: 100%;
    display:table;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
  }
  
  .card-title {
    font-weight: bolder;
  }
  
  .background-image {
    background:url("https://static.pexels.com/photos/30732/pexels-photo-30732.jpg");
    background-position: center;
    background-size: cover;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    height: 100%;
  }
  
  .title h3 {
    margin: 0;
    padding: 40px 0;
    position: relative;
    z-index: 2;
  }
  
  .card {
    top: 40px;
    position: relative;
    z-index: 2;
  }

@media (max-width: 1550px) {
    #canvas {
        width: 100%;
        height: auto;
    }

    #content {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media (max-width: 992px) {
    #slide-out {
        min-width: 60% !important;
        width: 60% !important;
    }
    
    #content {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #1c1c27;
        height: calc(100% - 60px);
        margin-left: 0;
        width: 100%;
    }

    #filters, #tuning {
        margin-left: 95%;
    }
    
    #canvas {
        margin-top: 30%;
    }
}
